MUSIC_PATH=/chemin/absolu/vers/vos/musiques
TIME_INTERVAL_UPDATE_CHECKER_SECONDS=10 # scan toutes les 10 secondes
# TIME_INTERVAL_UPDATE_CHECKER=5        # alternative : en minutes (si SECONDS non défini)
PORT=3000
RABBITMQ_URL=amqp://localhost
LOG_PATH=public/logs/
FRONTEND_URL=http://localhost:5173
FRONTEND_MUSIC_OUTPUT_PATH=../client-frontend/public/music
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=music_library