MUSIC_PATH=/chemin/absolu/vers/vos/musiques
TIME_INTERVAL_UPDATE_CHECKER=5          # en minutes
PORT=3000
RABBITMQ_URL=amqp://localhost
LOG_PATH=public/logs/
FRONTEND_URL=http://localhost:5173
VAULT=./vault
BLACKLIST_PATH=./blacklist.csv

# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=music_library
DB_USER=postgres
DB_PASSWORD=postgres